venv
__pycache__
*.h5
*.npy
carla_qtables
qtables
qtabel_models
models
logs
PetImages
TestingPetImages
PetImagesTesting
*.pb
*.pickle
*.model
num_reader.model
.pb
wslvenv
directml_venv
*.DS_Store
dogs_cats_75px_models