venv
__pycache__
*.h5
*.npy
carla_qtables
qtables
qtabel_models
models
logs
PetImages
TestingPetImages
PetImagesTesting
*.pb
*.pickle
*.pkl
# *.model
dogs_cats.model
dogs_cats_100px.model
dogs_cats_150px.model
num_reader.model
.pb
*.png
wslvenv
directml_venv
.DS_Store
dogs_cats_75px_models
.env
oneclose_text
oneclose_processed
text
processed
deeplearning_book_text
deeplearning_book_processed
sentdex_text
sentdex_processed
node_modules
openai-server/node_modules
roms
ffmpeg-master-latest-win64-gpl
*.mp3
*.mp4
# *.json
output_images
google_cloud_text_speech_key.json
*.chkpt
*.jpg
log